.container {
    
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 100px;
}

.container-form {
    width: 400px;
    height: 40vh;
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1rem;
    border-radius: .5rem;
    padding-bottom: 3rem; 
}
.container h1{
    text-align: left;
}


.container-form span {
    display: flex;
    justify-content: space-between;
}

.container-form-input {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    background-color: #66e3c4;
    height: 1.5rem;
    /* border: none; */
    color: #049974;
    padding: .1rem .8rem;
    
}
.container-form-input span {
    margin-right: 5px;
}


.container-form-input input {
    width: 90%;
    border: none;
    outline: none;
    text-align: end;
    background-color: #66e3c4;
    color: #049974;
    


}
.sample {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .sample p {
    width: 400px;
    display: flex;
    justify-content: space-between;
  }
 .circle p{
    height: 5vh;
 }

 .interest-fields {
    display: flex;
    align-items: center;

 }